<mat-tab-group>
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="eft-tab-icon">bar_chart</mat-icon>
      Forecasts
    </ng-template>

    <mat-nav-list>
      <h3 matSubheader>2018</h3>
      <mat-list-item *ngFor="let f of forecasts">
        <mat-icon matListIcon>bar_chart</mat-icon>
        <div matLine (click)="onForecast($event)">{{f}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <h3 matSubheader>2017</h3>
      <mat-list-item *ngFor="let f of forecasts">
        <mat-icon matListIcon>bar_chart</mat-icon>
        <div matLine (click)="onAlert($event)">{{f}}</div>
      </mat-list-item>
    </mat-nav-list>

  </mat-tab> -->

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="eft-tab-icon">notifications</mat-icon>
      Alerts
    </ng-template>
    <router-outlet name="alert-list"></router-outlet>
    <mat-nav-list>
      <mat-list-item *ngFor="let alert of alerts.get()" [ngSwitch]="alert.type" [matTooltip]="alert.type">
        <mat-icon matListIcon *ngSwitchCase="'urgent'" color="warn">{{alert.type | eft_alert:'icon'}}</mat-icon>
        <mat-icon matListIcon *ngSwitchCase="'info'" >{{alert.type | eft_alert:'icon'}}</mat-icon>
        <mat-icon matListIcon *ngSwitchCase="'announcement'" color="primary">{{alert.type | eft_alert:'icon'}}</mat-icon>
        <mat-icon matListIcon *ngSwitchCase="'warning'" color="accent" >{{alert.type | eft_alert:'icon'}}</mat-icon>
        <div matLine (click)="onAlert($event)">{{alert.message}}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>
</mat-tab-group>
