<div class="chart-container" fxLayout="column" fxLayoutAlign="start"  fxFlex="">
  <div fxFlex="45px">
    <div fxLayout="row" fxLayoutAlign="begin stretch" fxFlex=""></div>
    <div fxLayout="row" fxLayoutAlign="end" fxFlex="10px">
      <input
        #date_input
        matInput
        [matDatepicker]="picker"
        [matDatepickerFilter]="dateFilter"
        placeholder="Choose a date"
        class="hidden"
        (dateInput)="pickDate(date_input, $event)"
        [disabled]="isTableOpen"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <button mat-icon-button [disabled]="true"><mat-icon>more_vert</mat-icon></button>

      <button
        mat-icon-button
        matTooltip="toggle table"
        [color]="isTableOpen ? 'accent' : ''"
        (click)="toggleTable()"
      >
        <i class="fa fa-table" aria-hidden="true"></i>
      </button>

      <button mat-icon-button matTooltip="Download CSV" (click)="downloadCSV()">
        <mat-icon>cloud_download</mat-icon>
      </button>

      <button mat-icon-button [disabled]="true"><mat-icon>more_vert</mat-icon></button>

      <button
        mat-icon-button
        matTooltip="toggle marker"
        (click)="toggleMarker()"
        [disabled]="disableToggleMarker() || isTableOpen"
      >
        <mat-icon *ngIf="hasMarker()">location_searching</mat-icon>
        <mat-icon *ngIf="!hasMarker()">location_disabled</mat-icon>
        <!-- <i class="fas fa-crosshairs fa-lg mat-icon"></i> -->
      </button>

      <button mat-icon-button matTooltip="refresh" (click)="fetchDataOn()" [disabled]="isTableOpen">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
  </div>
  <canvas fxFlex="grow" id="hist-canvas" [style.display]="isTableOpen ? 'none' : 'block'"> </canvas>

  <div fxFlex="grow" class="my-form-field" [style.display]="isTableOpen ? 'block' : 'none'">
    <!-- <mat-paginator [pageSizeOptions]="[24, 48, 72, 168]" showFirstLastButtons></mat-paginator> -->
    <mat-table mat-table [dataSource]="tabularDataSource" class="mat-elevation-z8 mytable" matSort>
      <!-- date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="load">
        <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
          >Load (MWa)</mat-header-cell
        >
        <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.load }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="d_1">
        <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
          >-1 day (MWa)</mat-header-cell
        >
        <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.d_1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="d_1_err">
        <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
          >StdErr %</mat-header-cell
        >
        <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.d_1_err }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="d_6">
        <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
          >-6 days (MWa)</mat-header-cell
        >
        <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.d_6 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="d_6_err">
        <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
          >StdErr %</mat-header-cell
        >
        <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.d_6_err }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row class="my-mat-row" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
