.fab-container {
  position: fixed;
  top: 195px;
  right: 24px;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 5px;
    button {
      // margin-bottom: 17px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 6px 6px  10px black;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

// .fab-secondary {
//   // background-color: #eee;
//   width: 100px;
//   height: 100px;
//   white-space: normal;
// }


.extended-fab-button {
  width: unset;
  height: unset;
  padding: 0 4px;
  border-radius: 10px;

  .mat-icon {
    margin-right: 10px;
  }

  .extended-fab-button__text {
    font-weight: 280;
    // letter-spacing: .1em;
    font-size: 10pt;
    // text-transform: uppercase;
  }
}
