<div class="chart-container" fxLayout="column" fxLayoutAlign="start">
  <div fxFlex="45px">
    <div fxLayout="row" fxLayoutAlign="begin stretch" fxFlex="">
      <mat-slider
        [(ngModel)]="zoom"
        [displayWith]="formatLabel"
        disabled="false"
        max="4"
        min="1"
        step="1"
        thumbLabel
        tickInterval="1"
        matTooltip="Zoom"
      ></mat-slider>
      <!-- [(ngModel)]="value" -->
      <input
        #date_input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        class="hidden"
        (dateInput)="pickDate(date_input, $event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <button mat-icon-button matTooltip="previous 24 hrs" (click)="previousDay()" [disabled]="reachedLeftEnd()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <button mat-icon-button matTooltip="next 24 hrs" (click)="nextDay()" [disabled]="reachedRightEnd()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <!-- (click)="next24hour()" -->
    </div>

    <div fxLayout="row" fxLayoutAlign="end" fxFlex="10px">
      <button mat-icon-button matTooltip="toggle temperature" (click)="togleTemperature()">
        <!-- <i class="fas fa-temperature-high fa-lg mat-icon"></i> -->
        <i class="fas fa-thermometer-full fa-lg mat-icon" *ngIf="hasTemperature()"></i>
        <i class="fas fa-thermometer-empty fa-lg mat-icon" *ngIf="!hasTemperature()"></i>
      </button>

      <button
        mat-icon-button
        matTooltip="toggle marker"
        (click)="toggleMarker()"
        [disabled]="disableToggleMarker()"
      >
        <mat-icon *ngIf="hasMarker()">location_searching</mat-icon>
        <mat-icon *ngIf="!hasMarker()">location_disabled</mat-icon>
        <!-- <i class="fas fa-crosshairs fa-lg mat-icon"></i> -->
      </button>

      <button mat-icon-button matTooltip="refresh" (click)="fetchDataOn()">
        <mat-icon>autorenew</mat-icon>
      </button>

      <button mat-icon-button [disabled]="true"><mat-icon>more_vert</mat-icon></button>

      <button
        mat-icon-button
        matTooltip="delta chart"
        (click)="displayDelta()"
        [color]="chartColor('delta')"
      >
        <mat-icon>compare_arrows</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="line chart"
        (click)="displayLine()"
        [color]="chartColor('line')"
      >
        <!-- <mat-icon> show_chart</mat-icon> -->
        <i class="fas fa-chart-line fa-lg mat-icon"></i>
      </button>

      <button
        mat-icon-button
        matTooltip="area chart"
        (click)="displayArea()"
        [color]="chartColor('area')"
      >
        <!-- <mat-icon>photo</mat-icon> -->
        <i class="fa fa-chart-area fa-lg mat-icon"></i>
      </button>

      <button
        mat-icon-button
        matTooltip="stderr chart"
        (click)="displayStdError()"
        [color]="chartColor('stderr')"
      >
        <mat-icon>graphic_eq</mat-icon>
        <!-- <i class="fab fa-creative-commons-sampling fa-2x mat-icon"></i> -->
      </button>
    </div>
  </div>
  <canvas fxFlex="grow" id="canvas"> </canvas>

  <mat-accordion fxFlex="" class="my-form-field">
    <mat-expansion-panel
      #exp
      class="my-form-field"
      (opened)="isTableOpen = true"
      (closed)="isTableOpen = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-description> Tabular View</mat-panel-description>
        <!--
          <mat-form-field class="form-field" *ngIf="isTableOpen">
            <input matInput (keyup)="applyFilter($event.target.value)" (click)=$event.stopPropagation() placeholder="Filter">
          </mat-form-field>
        -->
      </mat-expansion-panel-header>

      <mat-paginator [pageSizeOptions]="[24, 48, 72, 168]" showFirstLastButtons></mat-paginator>
      <mat-table
        mat-table
        [dataSource]="tabularDataSource"
        class="mat-elevation-z8 mytable"
        matSort
      >
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.date }}</mat-cell>
        </ng-container>

        <!-- forecast Column -->
        <ng-container matColumnDef="forecast">
          <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
            >Forecast (MWa)</mat-header-cell
          >
          <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.forecast }}</mat-cell>
        </ng-container>

        <!-- actual Column -->
        <ng-container matColumnDef="actual">
          <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
            >Actual (MWa)</mat-header-cell
          >
          <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.actual }}</mat-cell>
        </ng-container>

        <!-- stderr Column -->
        <ng-container matColumnDef="stderr">
          <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
            >StdErr %</mat-header-cell
          >
          <mat-cell class="my-mat-cell" *matCellDef="let element">{{ element.stderr }}</mat-cell>
        </ng-container>

        <!-- temperature Column -->
        <ng-container matColumnDef="temperature">
          <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header
            >°F</mat-header-cell
          >
          <mat-cell class="my-mat-cell" *matCellDef="let element">{{
            element.temperature
          }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="my-mat-row" *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="large"
  color="#fff"
  type="ball-clip-rotate-pulse"
></ngx-spinner>
