<mat-toolbar color="primary" class="eft-fixed-header mat-elevation-z6">
  <button mat-icon-button matTooltip="toggle alert" (click)="toggleDrawer()">
    <mat-icon *ngIf="!isDrawerOpen">chevron_right</mat-icon>
    <mat-icon *ngIf="isDrawerOpen">chevron_left</mat-icon>
  </button>

  <!-- <button mat-icon-button [matMenuTriggerFor]="menu"> -->
  <!-- (click)="drawer.toggle()" -->
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngIf="hasManagerRight()">
      <!-- <mat-icon>home</mat-icon> -->
      <span (click)="registerUserDialog()">Register User</span>
    </button>

    <button mat-menu-item *ngIf="hasManagerRight()">
      <!-- <mat-icon>people_outline</mat-icon> -->
      <span>Manage Users</span>
    </button>

    <button mat-menu-item>
      <!-- <mat-icon>home</mat-icon> -->
      <span>Edit Profile</span>
    </button>

  </mat-menu>

  <span class="eft-spacer"></span> <span class="eft-spacer">Energy Forecast Tool</span>

  <!-- <button mat-icon-button matTooltip="Upload data for ML">
    <mat-icon>cloud_upload</mat-icon>
  </button> -->

  <button mat-icon-button matTooltip="Download CSV">
    <mat-icon>cloud_download</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Help topics">
    <mat-icon>help</mat-icon>
  </button>

  <button mat-icon-button matTooltip="{{userID}}" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button matTooltip="Logout" mat-icon-button (click)="signOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
